In [35]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt
import warnings

warnings.filterwarnings('ignore')

In [36]:
def snake_str(x: str):
    x = x.replace(' ', '_')
    return x.lower()


customer_df = pd.read_csv('files_for_lab/we_fn_use_c_marketing_customer_value_analysis.csv')
customer_df.columns = list(map(snake_str, customer_df.columns)) 
customer_df['effective_to_date'] = pd.to_datetime(customer_df['effective_to_date'])
customer_df

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2011-02-24,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,2011-01-31,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2011-02-19,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,2011-01-20,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2011-02-03,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2011-02-10,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2011-02-12,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2011-02-06,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2011-02-03,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2011-02-14,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [37]:
customer_df['policy'] = customer_df['policy'].apply(lambda x: str.split(x, ' ')[1])
customer_df['policy_type'] = customer_df['policy_type'].apply(lambda x: str.split(x, ' ')[0])

In [38]:
def get_outliers(column):
    # find q1 and q3 values and calculate iqr
    q1, q3 = np.percentile(sorted(column), [25, 75])
    iqr = q3 - q1
 
    # lower and upper limit
    lower_limit = q1 - (1.5 * iqr)
    upper_limit = q3 + (1.5 * iqr)
 
    outliers = [x for x in column if x <= lower_limit or x >= upper_limit]
    return outliers

In [39]:
# from lab num-cleaning, columns with outliers: monthly_premium_auto, total_claim_amount, customer_lifetime_value

mpa_outliers = get_outliers(customer_df['monthly_premium_auto'])
tca_outliers = get_outliers(customer_df['total_claim_amount'])
clv_outliers = get_outliers(customer_df['customer_lifetime_value'])
print(len(customer_df))
customer_df = customer_df[~customer_df['monthly_premium_auto'].isin(mpa_outliers)]
customer_df = customer_df[~customer_df['total_claim_amount'].isin(tca_outliers)]
customer_df = customer_df[~customer_df['customer_lifetime_value'].isin(clv_outliers)]
print(len(customer_df))

9134
7847

In [40]:
y = customer_df['total_claim_amount'].copy()
X = customer_df.drop(['total_claim_amount'], axis=1).copy()
X.head()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2011-02-24,Employed,F,56274,...,32,5,0,1,Corporate,L3,Offer1,Agent,Two-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2011-02-19,Employed,F,48767,...,18,38,0,2,Personal,L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,2011-01-20,Unemployed,M,0,...,18,65,0,7,Corporate,L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2011-02-03,Employed,M,43836,...,12,44,0,1,Personal,L1,Offer1,Agent,Four-Door Car,Medsize
5,OC83172,Oregon,8256.297800,Yes,Basic,Bachelor,2011-01-25,Employed,F,62902,...,14,94,0,2,Personal,L3,Offer2,Web,Two-Door Car,Medsize

### the ordinal encoding makes the models about 10% less accurate !!! 

#### so i rather use onehot there too

In [41]:
# from sklearn.preprocessing import OrdinalEncoder

# ordin = OrdinalEncoder()
# X['coverage'] = ordin.fit_transform(X[['coverage']])
# X['employmentstatus'] = ordin.fit_transform(X[['employmentstatus']])
# X['location_code'] = ordin.fit_transform(X[['location_code']])
# X['vehicle_size'] = ordin.fit_transform(X[['vehicle_size']])

In [42]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y)

In [43]:
X_train_nums = X_train.select_dtypes(include=np.number)
X_train_nums = X_train_nums.drop(['months_since_last_claim',
 'months_since_policy_inception',
 'number_of_open_complaints',
 'number_of_policies'],axis=1)
X_train_nums

      customer_lifetime_value  income  monthly_premium_auto
1354              3126.271893   34510                    81
1415              7396.719746   41045                    64
4825              2393.915369       0                    70
7198              2853.600347   87455                    71
4724              5712.380598   24882                    72
...                       ...     ...                   ...
3433              6677.418103       0                    97
800              13197.928930       0                    68
5208              8004.214781   54008                    67
3787              6102.307214   42800                   153
5547              6646.749298   95815                    82

[5885 rows x 3 columns]

In [44]:
X_test_nums = X_test.select_dtypes(include=np.number)
X_test_nums = X_test_nums.drop(['months_since_last_claim',
 'months_since_policy_inception',
 'number_of_open_complaints',
 'number_of_policies'],axis=1)
X_test_nums

      customer_lifetime_value  income  monthly_premium_auto
8985              4903.131185       0                   133
6051              9403.962744   79440                   117
7833              5444.793941   91393                    67
2233              7516.831717   31477                    94
4356              2967.670797   35205                    76
...                       ...     ...                   ...
2221              7320.988240   99722                    61
7825              4854.362069   44279                    61
1609              5170.976384   53603                   132
1481              9112.041503   25198                   118
1893              4558.498445       0                    65

[1962 rows x 3 columns]

In [45]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler().fit(X_train_nums)
X_train_norm = scaler.transform(X_train_nums)
X_train_norm = pd.DataFrame(X_train_norm,columns=X_train_nums.columns)

X_test_norm = scaler.transform(X_test_nums)
X_test_norm = pd.DataFrame(X_test_norm,columns=X_train_nums.columns)

In [46]:
X_num_cats = X_train[['months_since_last_claim',
 'months_since_policy_inception',
 'number_of_open_complaints',
 'number_of_policies']].copy()
orig_cats = X_train.select_dtypes(include=object).drop(['customer'], axis=1)
X_train_cats = pd.concat((X_num_cats, orig_cats), axis=1)

In [47]:
X_num_cats_test = X_test[['months_since_last_claim',
 'months_since_policy_inception',
 'number_of_open_complaints',
 'number_of_policies']].copy()
orig_cats = X_test.select_dtypes(include=object).drop(['customer'], axis=1)
X_test_cats = pd.concat((X_num_cats_test, orig_cats), axis=1)

In [48]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(drop='first').fit(pd.DataFrame(X_train_cats))

encoded = encoder.transform(pd.DataFrame(X_train_cats)).toarray()
encoded_test = encoder.transform(pd.DataFrame(X_test_cats)).toarray()

cols = encoder.get_feature_names_out(input_features=X_train_cats.columns)

onehot_encoded_cats = pd.DataFrame(encoded, columns=cols).astype(object)
onehot_encoded_cats_test = pd.DataFrame(encoded_test, columns=cols).astype(object)
onehot_encoded_cats

,months_since_last_claim_1,months_since_last_claim_2,months_since_last_claim_3,months_since_last_claim_4,months_since_last_claim_5,months_since_last_claim_6,months_since_last_claim_7,months_since_last_claim_8,months_since_last_claim_9,months_since_last_claim_10,...,renew_offer_type_Offer3,renew_offer_type_Offer4,sales_channel_Branch,sales_channel_Call Center,sales_channel_Web,vehicle_class_SUV,vehicle_class_Sports Car,vehicle_class_Two-Door Car,vehicle_size_Medsize,vehicle_size_Small
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5880,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0
5881,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5882,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5883,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0,0.0
5884,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0

In [49]:
# concat nums and cats
X_train_final = pd.concat((X_train_norm, onehot_encoded_cats), axis=1)
X_test_final = pd.concat((X_test_norm, onehot_encoded_cats_test), axis=1)
X_test_final

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim_1,months_since_last_claim_2,months_since_last_claim_3,months_since_last_claim_4,months_since_last_claim_5,months_since_last_claim_6,months_since_last_claim_7,...,renew_offer_type_Offer3,renew_offer_type_Offer4,sales_channel_Branch,sales_channel_Call Center,sales_channel_Web,vehicle_class_SUV,vehicle_class_Sports Car,vehicle_class_Two-Door Car,vehicle_size_Medsize,vehicle_size_Small
0,0.207112,0.000000,0.660550,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,0.517308,0.794551,0.513761,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0
2,0.244443,0.914104,0.055046,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
3,0.387247,0.314830,0.302752,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.073721,0.352117,0.137615,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1957,0.373750,0.997410,0.000000,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
1958,0.203751,0.442874,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
1959,0.225572,0.536132,0.651376,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
1960,0.497188,0.252028,0.522936,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0
1961,0.183360,0.000000,0.036697,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0

In [50]:
from sklearn.linear_model import LinearRegression

# build model
linreg = LinearRegression().fit(X_train_final, y_train)

# train score
predictions = linreg.predict(X_train_final)
print(linreg.score(X_train_final, y_train))

# test score
predictions_test = linreg.predict(X_test_final)
print(linreg.score(X_test_final, y_test))

0.7923958677345719
0.7828099536378873

In [51]:
def try_models(models: list):
    for model in models:
        classification = model.fit(X_train_final, y_train)

        predictions = classification.predict(X_train_final)
        print(model, "train :", classification.score(X_train_final, y_train))

        predictions_test = classification.predict(X_test_final)
        print(model, "test :", classification.score(X_test_final, y_test))

In [33]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neural_network import MLPRegressor


try_models([LinearRegression(), KNeighborsRegressor(), MLPRegressor()])

LinearRegression() train : 0.8015447004108938
LinearRegression() test : 0.7680209559931819
KNeighborsRegressor() train : 0.7407495026265973
KNeighborsRegressor() test : 0.607602865608258
MLPRegressor() train : 0.8406874174892889
MLPRegressor() test : 0.7927165715901818

In [34]:
# i dont like the function

# you either can put just the regressors in the list, but then you cant specify different paramaters
# for different models (especially KNN lacks of specific n_neighbors to get a good result)

# if building (fitting) the models beforehand the function just becomes a 'print-the-scores'-function