In [135]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.pyplot as plt
import warnings

warnings.filterwarnings('ignore')

In [136]:
def snake_str(x: str):
    x = x.replace(' ', '_')
    return x.lower()


customer_df = pd.read_csv('files_for_lab/we_fn_use_c_marketing_customer_value_analysis.csv')
customer_df.columns = list(map(snake_str, customer_df.columns)) 
customer_df['effective_to_date'] = pd.to_datetime(customer_df['effective_to_date'])
customer_df

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2011-02-24,Employed,F,56274,...,5,0,1,Corporate Auto,Corporate L3,Offer1,Agent,384.811147,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,2011-01-31,Unemployed,F,0,...,42,0,8,Personal Auto,Personal L3,Offer3,Agent,1131.464935,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2011-02-19,Employed,F,48767,...,38,0,2,Personal Auto,Personal L3,Offer1,Agent,566.472247,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,2011-01-20,Unemployed,M,0,...,65,0,7,Corporate Auto,Corporate L2,Offer1,Call Center,529.881344,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2011-02-03,Employed,M,43836,...,44,0,1,Personal Auto,Personal L1,Offer1,Agent,138.130879,Four-Door Car,Medsize
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9129,LA72316,California,23405.987980,No,Basic,Bachelor,2011-02-10,Employed,M,71941,...,89,0,2,Personal Auto,Personal L1,Offer2,Web,198.234764,Four-Door Car,Medsize
9130,PK87824,California,3096.511217,Yes,Extended,College,2011-02-12,Employed,F,21604,...,28,0,1,Corporate Auto,Corporate L3,Offer1,Branch,379.200000,Four-Door Car,Medsize
9131,TD14365,California,8163.890428,No,Extended,Bachelor,2011-02-06,Unemployed,M,0,...,37,3,2,Corporate Auto,Corporate L2,Offer1,Branch,790.784983,Four-Door Car,Medsize
9132,UP19263,California,7524.442436,No,Extended,College,2011-02-03,Employed,M,21941,...,3,0,3,Personal Auto,Personal L2,Offer3,Branch,691.200000,Four-Door Car,Large
9133,Y167826,California,2611.836866,No,Extended,College,2011-02-14,Unemployed,M,0,...,90,0,1,Corporate Auto,Corporate L3,Offer4,Call Center,369.600000,Two-Door Car,Medsize

In [137]:
customer_df['policy'] = customer_df['policy'].apply(lambda x: str.split(x, ' ')[1])
customer_df['policy_type'] = customer_df['policy_type'].apply(lambda x: str.split(x, ' ')[0])

In [138]:
y = customer_df['total_claim_amount'].copy()
X = customer_df.drop(['total_claim_amount'], axis=1).copy()
X.head()

,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,income,...,months_since_last_claim,months_since_policy_inception,number_of_open_complaints,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size
0,BU79786,Washington,2763.519279,No,Basic,Bachelor,2011-02-24,Employed,F,56274,...,32,5,0,1,Corporate,L3,Offer1,Agent,Two-Door Car,Medsize
1,QZ44356,Arizona,6979.535903,No,Extended,Bachelor,2011-01-31,Unemployed,F,0,...,13,42,0,8,Personal,L3,Offer3,Agent,Four-Door Car,Medsize
2,AI49188,Nevada,12887.431650,No,Premium,Bachelor,2011-02-19,Employed,F,48767,...,18,38,0,2,Personal,L3,Offer1,Agent,Two-Door Car,Medsize
3,WW63253,California,7645.861827,No,Basic,Bachelor,2011-01-20,Unemployed,M,0,...,18,65,0,7,Corporate,L2,Offer1,Call Center,SUV,Medsize
4,HB64268,Washington,2813.692575,No,Basic,Bachelor,2011-02-03,Employed,M,43836,...,12,44,0,1,Personal,L1,Offer1,Agent,Four-Door Car,Medsize

### the ordinal encoding makes the models about 10% less accurate !!! 

#### so i rather use onehot there too

In [140]:
# from sklearn.preprocessing import OrdinalEncoder

# ordin = OrdinalEncoder()
# X['coverage'] = ordin.fit_transform(X[['coverage']])
# X['employmentstatus'] = ordin.fit_transform(X[['employmentstatus']])
# X['location_code'] = ordin.fit_transform(X[['location_code']])
# X['vehicle_size'] = ordin.fit_transform(X[['vehicle_size']])

In [141]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y)

In [142]:
def get_outliers(column):
    # find q1 and q3 values and calculate iqr
    q1, q3 = np.percentile(sorted(column), [25, 75])
    iqr = q3 - q1
 
    # lower and upper limit
    lower_limit = q1 - (1.5 * iqr)
    upper_limit = q3 + (1.5 * iqr)
 
    outliers = [x for x in column if x <= lower_limit or x >= upper_limit]
    return outliers

In [143]:
X_train_nums = X_train.select_dtypes(include=np.number)
X_train_nums = X_train_nums.drop(['months_since_last_claim',
 'months_since_policy_inception',
 'number_of_open_complaints',
 'number_of_policies'],axis=1)
X_train_nums

      customer_lifetime_value  income  monthly_premium_auto
3198              8072.746442   30584                    68
3714              4652.886703       0                    64
6836             21991.615980   80807                   109
1566              5107.624201       0                    77
1448              7542.713967       0                   111
...                       ...     ...                   ...
88                2695.182419   32720                    67
5261              8467.267232   16370                    74
2982             15114.402410   28513                   100
3344             11814.475320       0                   106
7819              8632.783576   96200                   107

[6850 rows x 3 columns]

In [144]:
X_test_nums = X_test.select_dtypes(include=np.number)
X_test_nums = X_test_nums.drop(['months_since_last_claim',
 'months_since_policy_inception',
 'number_of_open_complaints',
 'number_of_policies'],axis=1)
X_test_nums

      customer_lifetime_value  income  monthly_premium_auto
2859              8306.550901   89834                   105
3089              2828.095211   98680                    72
8609              2435.321545   43721                    61
5136             24096.236950       0                    97
8499              2798.834343   48675                    71
...                       ...     ...                   ...
1830              2252.416825       0                    65
7776              7999.251628       0                   107
8199              3163.283136   97266                    79
375              44795.469420   58778                   126
2638              6507.751779       0                    97

[2284 rows x 3 columns]

In [145]:
from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler().fit(X_train_nums)
X_train_norm = scaler.transform(X_train_nums)
X_train_norm = pd.DataFrame(X_train_norm,columns=X_train_nums.columns)

X_test_norm = scaler.transform(X_test_nums)
X_test_norm = pd.DataFrame(X_test_norm,columns=X_train_nums.columns)

In [146]:
X_num_cats = X_train[['months_since_last_claim',
 'months_since_policy_inception',
 'number_of_open_complaints',
 'number_of_policies']].copy()
orig_cats = X_train.select_dtypes(include=object).drop(['customer'], axis=1)
X_train_cats = pd.concat((X_num_cats, orig_cats), axis=1)

In [147]:
X_num_cats_test = X_test[['months_since_last_claim',
 'months_since_policy_inception',
 'number_of_open_complaints',
 'number_of_policies']].copy()
orig_cats = X_test.select_dtypes(include=object).drop(['customer'], axis=1)
X_test_cats = pd.concat((X_num_cats_test, orig_cats), axis=1)

In [148]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(drop='first').fit(pd.DataFrame(X_train_cats))

encoded = encoder.transform(pd.DataFrame(X_train_cats)).toarray()
encoded_test = encoder.transform(pd.DataFrame(X_test_cats)).toarray()

cols = encoder.get_feature_names_out(input_features=X_train_cats.columns)

onehot_encoded_cats = pd.DataFrame(encoded, columns=cols).astype(object)
onehot_encoded_cats_test = pd.DataFrame(encoded_test, columns=cols).astype(object)
onehot_encoded_cats

,months_since_last_claim_1,months_since_last_claim_2,months_since_last_claim_3,months_since_last_claim_4,months_since_last_claim_5,months_since_last_claim_6,months_since_last_claim_7,months_since_last_claim_8,months_since_last_claim_9,months_since_last_claim_10,...,sales_channel_Branch,sales_channel_Call Center,sales_channel_Web,vehicle_class_Luxury Car,vehicle_class_Luxury SUV,vehicle_class_SUV,vehicle_class_Sports Car,vehicle_class_Two-Door Car,vehicle_size_Medsize,vehicle_size_Small
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6845,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
6846,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
6847,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
6848,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
6849,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0

In [149]:
# concat nums and cats
X_train_final = pd.concat((X_train_norm, onehot_encoded_cats), axis=1)
X_test_final = pd.concat((X_test_norm, onehot_encoded_cats_test), axis=1)
X_test_final

,customer_lifetime_value,income,monthly_premium_auto,months_since_last_claim_1,months_since_last_claim_2,months_since_last_claim_3,months_since_last_claim_4,months_since_last_claim_5,months_since_last_claim_6,months_since_last_claim_7,...,sales_channel_Branch,sales_channel_Call Center,sales_channel_Web,vehicle_class_Luxury Car,vehicle_class_Luxury SUV,vehicle_class_SUV,vehicle_class_Sports Car,vehicle_class_Two-Door Car,vehicle_size_Medsize,vehicle_size_Small
0,0.078703,0.898511,0.185654,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,0.011422,0.986988,0.046414,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.006599,0.437293,0.000000,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.272614,0.000000,0.151899,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.011063,0.486843,0.042194,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2279,0.004352,0.000000,0.016878,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
2280,0.074929,0.000000,0.194093,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2281,0.015539,0.972845,0.075949,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
2282,0.526819,0.587892,0.274262,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2283,0.056612,0.000000,0.151899,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [150]:
from sklearn.linear_model import LinearRegression

# build model
linreg = LinearRegression().fit(X_train_final, y_train)

# train score
predictions = linreg.predict(X_train_final)
print(linreg.score(X_train_final, y_train))

# test score
predictions_test = linreg.predict(X_test_final)
print(linreg.score(X_test_final, y_test))

0.7835798635478587
0.7573145512974729

In [151]:
def try_models(models: list):
    for model in models:
        classification = model.fit(X_train_final, y_train)

        predictions = classification.predict(X_train_final)
        print(model, "train :", classification.score(X_train_final, y_train))

        predictions_test = classification.predict(X_test_final)
        print(model, "test :", classification.score(X_test_final, y_test))

In [152]:
from sklearn.neighbors import KNeighborsRegressor
from sklearn.neural_network import MLPRegressor


try_models([LinearRegression(), KNeighborsRegressor(), MLPRegressor()])

LinearRegression() train : 0.7835798635478587
LinearRegression() test : 0.7573145512974729
KNeighborsRegressor() train : 0.6965955081933048
KNeighborsRegressor() test : 0.5134137886781432
MLPRegressor() train : 0.812423818639343
MLPRegressor() test : 0.7779861224983271

In [153]:
# i dont like the function

# you either can put just the regressors in the list, but then you cant specify different paramaters
# for different models (especially KNN lacks of specific n_neighbors to get a good result)

# if building (fitting) the models beforehand the function just becomes a 'print-the-scores'-function